.reset-h1 {
	font-weight: normal;
	font-size: inherit;
}

input[id^="if"] { display: none; }

[role=radiogroup] {
	display: inline-table;
	margin: 0;
	padding: 0;
	line-height: 22px;
	text-align: center;
	text-indent: 0px;
	letter-spacing: -1em;
	vertical-align: middle;
}

[role=radio] {
	vertical-align: bottom;
}

.question, 
[role=radio],
[role=checkbox],
button[aria-pressed=true],
button[aria-pressed=false] {
	-webkit-transition: .5s;
	   -moz-transition: .5s;
	        transition: .5s;
}

[role=radio],
[role=checkbox],
button[aria-pressed=true],
button[aria-pressed=false] {
	position: relative;
	display: table-cell;
	margin: 0;
	border: 0px solid;
	padding: 0px .5em 0px;
	min-width: 44px;
	min-height: 44px;
	font-family: inherit;
	font-size: inherit;
	line-height: 22px;
	font-weight: inherit;
	text-align: center;
	vertical-align: middle;
	color: #A5B1B9;
	background: transparent;
	cursor: pointer;
	-webkit-box-decoration-break: clone;
	        box-decoration-break: clone;
}

[role=radio]:before,
[role=checkbox]:before,
button[aria-pressed=true]:before,
button[aria-pressed=false]:before {
	content: "";
	position: absolute;
	left: 0;
	margin: 0 0 0 0;
	border: 1px solid #0088E0;
	border-radius: 0px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

[role=checkbox]:before,
button[aria-pressed=true]:before,
button[aria-pressed=false]:before {
	border-radius: 4px;
}

[aria-haspopup] .checked,
[aria-haspopup] .not-checked {
	display: block;
}

[aria-haspopup] .checked {
	width: auto;
}

[aria-haspopup] .not-checked {
	width: 0;
	height: 0;
	min-width: 0;
	min-height: 0;
}

[aria-haspopup][aria-expanded=true] .not-checked,
[aria-haspopup][aria-expanded=true] .checked {
	width: 100%;
	height: auto;
	min-width: 44px;
	min-height: 44px;
}

[aria-disabled] {
	opacity: .25;
}

	[aria-haspopup] [role=radio] { width: 100%; }

	[aria-haspopup] [role=radio]:before, [role=checkbox]:before {
		width: 7px;
		height: 100%;
		bottom: 0px;
	}

	[aria-haspopup][aria-expanded=false] [role=radio]:before {
		border: 1px solid #0088E0;
		border-radius: 4px;
	}

	[aria-haspopup] [role=radio].checked:after {
		content: "";
		position: absolute;
		width: 0px;
		height: 0px;
		right: 0px;
		top: 19px;
		border: 5px solid transparent;
		border-top-color: #DBECF9;
	}

	[aria-haspopup][aria-expanded=true] [role=radio].checked:after {
		opacity: 0;
	}

	[aria-haspopup][aria-expanded=false] [role=radio].not-checked {
			opacity: 0;
			pointer-events: none;
	}

	[aria-haspopup][aria-expanded=false] [role=radio].not-checked:before {
		opacity: .25;
		border: 0px solid;
	}

	[aria-haspopup][aria-expanded=true] [role=radio]:first-child:before {
		border-radius: 4px 4px 0 0px;
	}

	[aria-haspopup][aria-expanded=true] [role=radio]:last-child:before {
		border-radius: 0 0px 4px 4px;
	}

	[aria-haspopup] .checked:before {
		border-top: 1px solid #0088E0;
	}

.checked, button[aria-pressed].checked { color: inherit; }

.checked:before { background: #DBECF9; }

.not-shown.not-shown { display: none; }

.question         { display: inline-table; width: 100%; }
[role=radiogroup] { display: inline-table; width: auto; }

.question {
	position: relative;
	margin: 0 0 0 0px;
	line-height: 44px;
	white-space: normal;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-animation: fade-in .5s;
	   -moz-animation: fade-in .5s;
	        animation: fade-in .5s;
	counter-increment: questions 1;
}

.question:before {
	content: counter(questions);
	display: inline-table;
	width: 22px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	vertical-align: middle;
	border-radius: 50%;
	box-shadow: 0 0 0 1px grey;
}

.concealed { visibility: hidden; }
.text-space { white-space: normal; }

@-webkit-keyframes fade-in { from {opacity: 0;} }
   @-moz-keyframes fade-in { from {opacity: 0;} }
        @keyframes fade-in { from {opacity: 0;} }

@media (min-width: 600px){
	.question {
		padding: 11px 0 0 33px;
	}
	.question:before {
		margin: 0 9px 0 -31px;
	}

	[role=radio] { width: auto; }

	[role=radio]:before,
	[role=checkbox]:before,
	button[aria-pressed=true]:before,
	button[aria-pressed=false]:before {
		width: 100%;
		height: 7px;
		bottom: -2px;
	}

	[role=radio]:before {
		border-right: 0px solid #0088E0;
	}

	[role=radio]:first-child:before {
		border-left: 1px solid #0088E0;
		border-radius: 4px 0px 0 4px;
	}

	[role=radio]:last-child:before {
		border-right: 1px solid #0088E0;
		border-radius: 0 4px 4px 0px;
	}

	.checked:before {
		border-left: 1px solid #0088E0;
	}

	[aria-haspopup][aria-expanded=true] [role=radio]:before {
		border-right: 1px solid #0088E0;
	}

	[aria-haspopup][aria-expanded=true] [role=radio]:before {
		border-bottom: 0px solid #0088E0;
	}

	[aria-haspopup][aria-expanded=true] [role=radio]:last-child:before {
		border-bottom: 1px solid #0088E0;
	}
}

@media (max-width: 600px){

	.question {
		width: 100%;
		padding: 22px 0 0 32px;
	}

	[role=radiogroup] {
		float: right;
	}

	[role=radiogroup][aria-haspopup] {
		float: none;
	}

	.question:before {
		margin: 0 10px 0 -32px;
	}

	[role=radio] { width: 100%; }

	[role=radio] {
		padding: 0 5px 0 19px;
		vertical-align: baseline;
		text-align: left;
		letter-spacing: 0;
	}

	[role=radiogroup] {
		margin: 0 0 0 0px;
		letter-spacing: 0px;
	}

	[role=radiogroup],
	[role=checkbox],
	button[aria-pressed=true],
	button[aria-pressed=false] {
	}

	[role=radio]:before {
		width: 7px;
		height: 100%;
		left: auto;
		right: 0px;
		top: 0;
	}

	[aria-haspopup] [role=radio]:before {
		left: 0;
		right: auto;
		top: 0;
	}

	[role=checkbox]:before,
	button[aria-pressed=true]:before,
	button[aria-pressed=false]:before {
		width: 100%;
		height: 7px;
		bottom: 0px;
	}

	[role=radio]:before {
		border-bottom: 0px solid #0088E0;
	}

	[role=radio]:first-child:before {
		border-top: 1px solid #0088E0;
		border-radius: 4px 4px 0 0px;
	}

	[role=radio]:last-child:before {
		border-bottom: 1px solid #0088E0;
		border-radius: 0 0px 4px 4px;
	}

	.checked:before {
		border-top: 1px solid #0088E0;
	}
}
