html { font: 300 15px/22px Helvetica Neue, sans-serif; }

body {
	margin: 0 auto;
	max-width: 768px;
	background: white;
}

body > header {
	display: block;
	position: relative;
	background-image: -webkit-linear-gradient(top      , #4D6C9E, #2b3443);
	background-image:    -moz-linear-gradient(top      , #4D6C9E, #2b3443);
	background-image:         linear-gradient(to bottom, #4D6C9E, #2b3443);
	background-size: 100% 5px;
	background-position: bottom center;
	background-repeat: no-repeat;
	box-shadow: 0px 8px 5px -7px #4D6C9E;
}

body > header a {
	display: block;
	font: small-caps 44px/66px serif;
	text-align: center;
}

.last-updated {
	position: absolute;
	right: 10px;
	bottom: -26px;
	font-size: 11px;
	color: grey;
}

body > header a:hover, body > header a:link, body > header a:visited {
	text-decoration: none;
	color: black;
}

nav ul {
	list-style: none;
	padding: 0 1em;
}

nav li a { line-height: 34px; }

nav li a       { color: #afbbcd; }
nav li a:hover { color: white  ; }

nav li a {
	display: inline-block;
	width: 100%;
	padding: 3px 0px 2px 0px;
}

hr {
	display: inline;
	border: 0px;
}

hr::after {
	content: "";
	padding-right: 2.5em;
}

a       { text-decoration: none     ; }
a:hover { text-decoration: underline; }

ul { padding: 0 1em; }

ol, ul, dl {
	display: inline-block;
	white-space: normal;
	margin: 0;
	list-style: none;
}

.with-bullets { list-style: square; }

li, dd, dt {
	white-space: pre-line;
	margin: 0;
}

li {
	padding-left: 1.5em;
	text-indent: -1.5em;
}

dd, dt { padding: 0 }

dt {
	padding-top: 1.5em;
	font-weight: 400;
}

main li a       { color: #255DB1; }
main li a:hover { color: #859DBD; }

main {
	display: inline-block;
	min-height: 400px;
	width: 100%;
	margin-top: 0em;
	padding: 20px 10px 30px 10px;
	white-space: pre-line;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

h1 ~ div { white-space: pre-wrap; }

cite {
	color: grey;
	font-size: 12px;
	line-height: 22px;
}

cite + cite::before { content: ", " }

footer {
	color: #a7adb1;
	font-size: 13px;
	line-height: 44px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,.3)
}

table {
	width: 99.9%;
	border-collapse: collapse;
}

td { border: 1px solid grey; }
td { white-space: pre-line; }

.nav-tree {
	display: block;
	width: 100%;
	padding-top: 10px;
	white-space: nowrap;
	background: none;
	box-shadow: none;
}

.nav-tree h2 {
	display: inline-block;
	width: 25%;
	padding-top: 0;
	vertical-align: top;
}

.nav-tree-branch {
	display: inline-block;
	width: 75%;
	padding-top: 0;
	padding-right: 0;
}

.expanded-results {
	position: absolute;
	top: 3em;
	z-index: -1;
	width: 5em;
	height: 3em;
	white-space: nowrap;
	text-indent: 6em;
	overflow: hidden;
}

.fill-the-blank {
	border:none;
	border-bottom: 1px dotted;
	text-align: right;
}

h1, h2, h3, h4, h5, h6 {
	display: inline-block;
	margin: 0;
}

h1 { font-size: 24px; line-height: 28px; padding:  0px 0px  0px 0px; font-weight: 400; }
h2 { font-size: 24px; line-height: 28px; padding: 26px 0   12px 0  ; font-weight: 300; }
h3 { font-size: 21px; line-height: 25px; padding: 26px 0   12px 0  ; font-weight: 300; }
h4 { font-size: 18px; line-height: 22px; padding: 16px 0    6px 2em; font-weight: 400; }
h5 { font-size: 18px; line-height: 22px; padding: 16px 0    6px 5em; font-weight: 400; }
h6 { font-size: 18px; line-height: 22px; padding: 16px 0    6px 9em; font-weight: 400; }

h2 a      , h3 a      , h4 a      , h5 a      , h6 a       { color: #312f30; }
h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { color: #312f30; }

.seal {
	letter-spacing: -1em;
	white-space: normal;
	width: 100%;
	overflow: scroll;
}

.seal-header {
	width: 100%;
	font-weight: 300;
	letter-spacing: normal;
	padding: 0 0 1em;
	float: right;
	clear: both;
}

.seal-text {
	position: relative;
	float: right;
	clear: both;
	padding-bottom: 3em;
	width: 320px;
	letter-spacing: normal;
	white-space: pre;
	color: #3C3C3C;
}

.seal-stamp-placeholder {
	width: 100%;
	background: transparent;
}

.stamp {
	display: inline-block;
	width: 74px;
	height: 80px;
	padding: 20px 5px 0px;
	word-break: break-word;
	text-align: center;
}

.seal .stamp {
	position: absolute;
	z-index: -1;
	white-space: normal;
	word-break: break-all;
}

.epikyrosimo {
	background: #DA9F74;
	background: rgba(218, 159, 116, 0.16);
	color: rgba(0, 0, 0, 0.5);
}

.eidiki-eisfora {
	right: 0;
	margin-top: -1.3em;
	background-color: rgba(237, 224, 185, 0.16);
}

.megarosimo {
	background: #55CA68;
	background: rgba(116, 218, 125, 0.16);
	color: rgba(0, 0, 0, 0.5);
}

.bill-of-exchange {
	background-color: #F8FAFF;
	padding: 20px;
	border-bottom: 60px solid white;
	font-family: serif;
	font-style: italic;
	line-height: 1.5;
	white-space: normal;
	box-shadow: 0 0 1px grey;
}

strong, b { font-weight: bold; }

.line { display: table; width: 100%; }

label.qualified { position: relative; display: table-cell; }
.qualifier { position: absolute; left: 0; top: 0; background:inherit; }
.qualified input    { width: 100%; }
.payment.date.short { width:  45%; }
.payment.date.long  { width:  50%; }

.line.one   { font-size: 16px; }
.line.seven { padding-top: 20px; white-space: nowrap;}
.invisible  { visibility: hidden; }
.not-shown  { display: none; }
.party      { display: inline-block; }

.line label,
.line input { font-size: inherit; line-height: inherit; padding:0; border: 0px; box-sizing: border-box; }

input.paper {
	background: transparent;
	border: 0px solid;
	border-bottom: 1px dotted;
	text-align: right;
}

input.paper:required { border-bottom: 1px dashed red; }
.line.one .payment.amount input { box-shadow: 0 0 0 1px red; }

.payment.amount input { box-shadow: 0 0 0 1px; text-align: right; }
.drawee.signature { vertical-align: bottom; }
.issuer.signature { vertical-align: bottom; }

.drawee.signature::before {
	content: "\0A \0A \0A \0A";
	display: block;
	white-space: pre;
}

.issuer.signature::before {
	content: "\0A";
	display: block;
	white-space: pre;
}

.note {
	display: inline-block;
	padding: 0;
	vertical-align: text-top;
}

input { font-size: 16px; }

.date input::-webkit-input-placeholder { color: inherit; font: inherit; }
.date input:-ms-input-placeholder      { color: inherit; font: inherit; }
.date input::-moz-placeholder          { color: inherit; font: inherit; }
.date input:-moz-placeholder           { color: inherit; font: inherit; }

input:required::-webkit-input-placeholder { color: #FF8787; font-size: 12px; padding-right: 10px; }
input:required:-ms-input-placeholder      { color: #FF8787; font-size: 12px; padding-right: 10px; }
input:required::-moz-placeholder          { color: #FF8787; font-size: 12px; padding-right: 10px; }
input:required:-moz-placeholder           { color: #FF8787; font-size: 12px; padding-right: 10px; }

.party { box-sizing: border-box; vertical-align: top; }

.drawee           { width: 45%; padding-right: 10px; }
.acceptor         { width: 20%; padding-right: 10px; }
.drawer-guarantor { width: 35%; }
.issuer { display: block; text-align: center; }

.ad { text-decoration: underline; }

h1.centered { width: 100%; white-space: normal; }
.centered { text-align: center; }
.padded   { padding-top: 2em; }
.block    { display: block;   }
.white-space-normal { white-space: normal; }
.inline-block { display: inline-block; }
.align-right { text-align: right; }
.float-right { float: right; }
.clear-both { clear: both; }
label { line-height:1.5; }
.heading { font-size: 22px; margin: 0 auto; }

@media (max-width: 35em) {
	.nav-tree { white-space: normal; }
	
	.nav-tree h2,
	.nav-tree-branch { width: 100%; }
	.nav-tree-branch li { text-indent: 0;}
	
	.seal-text, .seal-header { width: 100%; }
}
