html {
    font: 400 .9375em/1.4666666666666666 "Helvetica Neue", sans-serif;
    -webkit-text-size-adjust: none;
       -moz-text-size-adjust: none;
            text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6,
.table-of-contents li {
    font-family: "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
}

                    html              { color: #333333; background: white;          }
                    .last-updated     { color: #595959;                             }
                    cite              { color: #595959;                             }
                    cite:before       { color: #ADADAD;                             }
                    footer            { color: #595959;                             }
                    a                 { color: #477ccc; text-decoration: underline; }
                    a                 { text-decoration-color: #AFC2CF;             }
                    a:visited         { color: #477ccc;                             }
.table-of-contents  a                 { color: inherit; text-decoration: none;      }
.table-of-contents>
li >ul>li >ul>li  > a                 { color: #595959;                             }
.table-of-contents>
li >ul>li >ul>li
   >ul>li         > a                 { color: #595959;                             }
.table-of-contents>
li >ul>li >ul>li
   >ul>li >ul>li  > a                 { color: #595959;                             }
.table-of-contents>
li >ul>li >ul>li
   >ul>li >ul>li
   >ul>li         > a                 { color: #595959;                             }
.table-of-contents  a:hover:hover     { color: #477ccc;                             }
                    a:hover:hover     { color: #477ccc; text-decoration: underline; }
                    a:active:active   { color: #859DBD; text-decoration: underline; }
      body > header a:hover:hover,
      body > header a:link:link,
      body > header a:visited:visited { color: inherit; text-decoration: none;      }

.warning:before                           { color: red;     }

.date input::-webkit-input-placeholder    { color: inherit; }
.date input:-ms-input-placeholder         { color: inherit; }
.date input::-moz-placeholder             { color: inherit; }
.date input:-moz-placeholder              { color: inherit; }

input:required::-webkit-input-placeholder { color: #FF8787; }
input:required:-ms-input-placeholder      { color: #FF8787; }
input:required::-moz-placeholder          { color: #FF8787; }
input:required:-moz-placeholder           { color: #FF8787; }

.table-of-contents li                     {                 border-color: #FFFFFF;      }
.table-of-contents li                     {                 border-color: transparent;  }
td                                        {                 border-color: #C5C5C5;      }

body > header a:before {
    background-image: -webkit-linear-gradient(top      , #4D6C9E, #2b3443);
    background-image:    -moz-linear-gradient(top      , #4D6C9E, #2b3443);
    background-image:         linear-gradient(to bottom, #4D6C9E, #2b3443);
}

.table-of-contents > li > ul:before,
h2:before, h3:before, h4:before, h5:before, h6:before {
    background-image: -webkit-linear-gradient(left    , #496592, #2f3b4e);
    background-image:    -moz-linear-gradient(left    , #496592, #2f3b4e);
    background-image:         linear-gradient(to right, #496592, #2f3b4e);
}

body > header { box-shadow: 0px 22px 3px -22px #4D6C9E; }

        main                { white-space: pre-line; }
   h1 ~ div                 { white-space: pre-wrap; }
        ol, ul, dl          { white-space: normal  ; }
        li                  { white-space: pre-line; }
.answer li                  { white-space: normal  ; }
        dt, dd              { white-space: pre-line; }
        td                  { white-space: pre-line; }
        .expanded-results   { white-space: nowrap  ; }
        .text               { white-space: normal;   }
        .pre-line           { white-space: pre-line; }
        .seal               { white-space: normal  ; }
        .seal-text          { white-space: pre     ; }
  .seal .stamp              { white-space: normal  ; }
        .white-space-normal { white-space: normal  ; }
        .pre-line           { white-space: pre-line; }
        h1.centered         { white-space: normal  ; }

body {
    margin: 0 auto;
    max-width: 768px;
}

body > header {
    display: block;
    position: relative;
    padding: 0 11px;
    background-size: 100% 4px;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-origin: content-box;
}

body > header a {
    position: relative;
    display: block;
    font: small-caps 44px/66px serif;
    text-align: center;
    padding: 0px 0 0px 0;
}

body > header a:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-size: 100% 100%;
    background-position: 0 0;
}

main {
    display: inline-block;
    min-height: 400px;
    width: 100%;
    margin-top: 0em;
    padding: 0px 11px 0px 11px;
}

.last-updated {
    position: absolute;
    right: 11px;
    bottom: -26px;
    font-size: 11px;
}

h1, h2, h3, h4, h5, h6 {
    display: inline-block;
    margin: 0;
    width: 100%;
}

h1 { font-size: 26px; line-height: 44px; padding:  0px 0px 0px 30px; font-weight: 500; letter-spacing: .2px; }
h2 { font-size: 21px; line-height: 33px; padding: 17px 0px 5px 15px; font-weight: 500; letter-spacing: .3px; }
h3 { font-size: 18px; line-height: 33px; padding: 17px 0px 5px 15px; font-weight: 400; letter-spacing: .2px; }
h4 { font-size: 16px; line-height: 22px; padding: 17px 0px 5px 30px; font-weight: 500; letter-spacing: .3px; }
h5 { font-size: 16px; line-height: 22px; padding: 19px 0px 3px 30px; font-weight: 400; letter-spacing: .2px; }
h6 { font-size: 15px; line-height: 22px; padding: 20px 0px 2px 45px; font-weight: 500; letter-spacing: .3px; }

h1, h2, h3, h4, h5, h6 {
    border: 0px none;
    margin-left: -0px;
}

h1 + h2, h2 + h3, h3 + h4, h4 + h5, h5 + h6 {
    padding-top: 0;
}

h1 { width: auto; margin: 0 0 0 0; }

h1.block { padding: 0 22px 0 0; }

.table-of-contents > li > ul { position: relative; }

.table-of-contents > li > ul:before,
h2:before, h3:before, h4:before, h5:before, h6:before {
    content: "";
    position: absolute;
    width: 2px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0px 0px;
    border-radius: 2px;
}

.table-of-contents > li > ul:before {
            height: 100%; margin:  0px 0 0 -25px; }
h2:before { height: 24px; margin:  5px 0 0 -15px; }
h3:before { height:  7px; margin: 14px 0 0 -15px; }
h4:before { height: 12px; margin:  6px 0 0 -30px; }
h5:before { height:  7px; margin:  8px 0 0 -30px; }
h6:before { height: 12px; margin:  6px 0 0 -45px; }

cite {
    font-size: 12px;
    line-height: 1.834;
}

     cite::before { content: " · "; }
cite cite::before { content: ", ";  }

cite::before {
    font-style: normal;
}

nav ul {
    list-style: none;
    padding: 0 1em;
}

nav, nav li, .nav-tree-branch {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

nav li {
    width: 100%;
    text-indent: 0;
}

nav li a {
    line-height: 34px;
    display: inline-block;
    padding: 3px 0px 2px 0px;
}

.nav-tree {
    display: table;
    width: 100%;
    padding-top: 10px;
    white-space: nowrap;
    background: none;
    box-shadow: none;
}

.nav-tree h2 {
    display: table-cell;
    width: 25%;
    padding-top: 0;
    vertical-align: top;
}

.nav-tree-branch {
    display: table-cell;
    width: 75%;
    padding-top: 0;
    padding-right: 0;
}

@media (max-width: 35em) {
    .nav-tree { white-space: normal; }
    
    .nav-tree h2,
    .nav-tree-branch { display: table; width: 100%; }
}

ol, ul, dl {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0 0 0 22px;
    vertical-align: top;
}

.with-bullets { list-style: square;  }

.table-of-contents { padding: 0; }

.table-of-contents,
.table-of-contents ul,
.table-of-contents ul ul {
    list-style: none;
}

.table-of-contents ul,
.table-of-contents ul ul {
    border: 0 solid;
    padding: 0;
}

.table-of-contents li {
    margin: 0;
    border-width: 0;
    padding: 0;
    background: none;
}

.table-of-contents               li  { border-style: solid; padding-left:  5px; text-indent:  -5px; }
.table-of-contents            ul     {                      margin-left:  -5px;                     }
.table-of-contents              >li  { margin-left:   0px; border-width: 0 0 0 30px; font-weight: 500; }
.table-of-contents       >li >ul>li  { margin-left: -30px; border-width: 0 0 0 15px; font-weight: 500; }
.table-of-contents>li >ul>li >ul>li  { margin-left:   0px; border-width: 0 0 0  0px; font-weight: 400; }
.table-of-contents>li >ul>li >ul>li
                      >ul>li         { margin-left:   0px; border-width: 0 0 0 15px; font-weight: 500; }
.table-of-contents>li >ul>li >ul>li
                      >ul>li >ul>li  { margin-left:   0px; border-width: 0 0 0  0px; font-weight: 400; }
.table-of-contents>li >ul>li >ul>li
                      >ul>li >ul>li
                      >ul>li         { margin-left:   0px; border-width: 0 0 0 15px; font-weight: 500; }

.table-of-contents>li >ul>li {
    background-repeat: no-repeat;
    background-size: 1px 100%;
    background-origin: border-box;
}

.table-of-contents li:before {
    content: "\200B"; /* VoiceOver list-style: none; fix */
}

.table-of-contents a {
    padding: 3px 0;
}

li {
    padding: 0;
    margin: 0;
}

dt, dd {
    display: inline;
    margin: 0;
    padding: 0;
}

dt { font-weight: 400; }

table {
    width: 99.9%;
    border-collapse: collapse;
}

td { border-width: 1px; border-style: solid; padding: 5px 6px 6px 5px; }

.expanded-results {
    position: absolute;
    top: 3em;
    z-index: -1;
    width: 5em;
    height: 3em;
    text-indent: 6em;
    overflow: hidden;
}

aside {
    margin: 3px 22px;
    border-width: 1px;
    border-style: solid;
    padding: 8px 11px;
    border-radius: 5px;
}

strong, b { font-weight: bolder; }

label { line-height: 1.5; }

input { font-size: 16px; }

.date input::-webkit-input-placeholder    { font: inherit; }
.date input:-ms-input-placeholder         { font: inherit; }
.date input::-moz-placeholder             { font: inherit; }
.date input:-moz-placeholder              { font: inherit; }

input:required::-webkit-input-placeholder { font-size: 12px; padding-right: 10px; }
input:required:-ms-input-placeholder      { font-size: 12px; padding-right: 10px; }
input:required::-moz-placeholder          { font-size: 12px; padding-right: 10px; }
input:required:-moz-placeholder           { font-size: 12px; padding-right: 10px; }

footer {
    font-size: 13px;
    line-height: 66px;
    text-align: center;
}

.warning { padding: 11px; padding-left: 33px; }

.warning:before {
    content: "!";
    display: inline-block;
    width: 22px;
    height: 22px;
    margin: 0 9px 0 -33px;
    border: 1px solid;
    text-align: center;
    border-radius: 50%;
}

.fill-the-blank {
    border: none;
    border-bottom: 1px dotted;
    text-align: right;
}

.fill-the-blank.table-cell {
    width: 100%;
    padding: 0;
}

.seal {
    width: 100%;
    overflow: auto;
}

.seal-text {
    position: relative;
    float: right;
    clear: both;
    padding-bottom: 3em;
    width: 320px;
    letter-spacing: normal;
    color: #3C3C3C;
}

.seal-data {
    display: inline-table;
    width: 100%;
}

.seal-stamp-placeholder {
    width: 100%;
    padding: 0;
    background: transparent;
}

.stamp {
    display: inline-block;
    width: 74px;
    height: 80px;
    padding: 20px 5px 0px;
    word-break: break-word;
    text-align: center;
}

.seal .stamp {
    position: absolute;
    z-index: -1;
    word-break: break-word;
}

.epikyrosimo {
    background: #DA9F74;
    background: rgba(218, 159, 116, 0.16);
    color: rgba(0, 0, 0, 0.5);
}

.eidiki-eisfora {
    right: 0;
    margin-top: -1.3em;
    background-color: rgba(237, 224, 185, 0.16);
}

.megarosimo {
    background: #55CA68;
    background: rgba(116, 218, 125, 0.16);
    color: rgba(0, 0, 0, 0.5);
}

.note {
    display: inline-block;
    width: 100%;
    padding: 0 0 11px;
    vertical-align: text-top;
}

.hidden.hidden       { display: none;         }
.not-shown.not-shown { display: none;         }
.block               { display: block;        }
.inline-block        { display: inline-block; }
.inline-table        { display: inline-table; }
.table-cell          { display: table-cell;   }

.invisible    { visibility: hidden;    }

.padded { padding-top: 2em; }

.float-right { float: right; }

.clear-both { clear: both; }

.centered    { text-align: center; }
.align-right { text-align: right;  }

.width-4em  { width: 4em; }

h1.centered { width: 100%; }

.centered form { display: inline-table; }

.heading { font-size: 22px; margin: 0 auto; }

main,
h1, h2, h3, h4, h5, h6,
ol, ul, dl,
nav, nav li {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

@media (max-width: 35em) {
    .seal-text, .seal-header { width: 100%; }
}
