html { font: 16px/22px Helvetica Neue, sans-serif; }

body {
	margin: 0 auto;
	max-width: 768px;
	background: white;
}

body > header { 
	font: small-caps 44px/66px serif;
	text-align: center;
	background-image: -webkit-linear-gradient(45deg, #4D6C9E, #2b3443);
	background-image:    -moz-linear-gradient(45deg, #4D6C9E, #2b3443);
	background-image:         linear-gradient(45deg, #4D6C9E, #2b3443);
	background-size: 100% 5px;
	background-position: bottom center;
	background-repeat: no-repeat;
	box-shadow: 0px 8px 5px -7px #4D6C9E;
}
body > header a { display: block; }

body > header a:hover, body > header a:link, body > header a:visited {
	text-decoration: none;
	color: black;
}

nav ul {
	list-style: none;
	padding: 0 1em;
}

nav li a { line-height: 1.3em; }

nav li a       { color: #afbbcd; }
nav li a:hover { color: white  ; }


nav li a {
	display: inline-block;
	width: 100%;
	padding: 3px 0px 2px 0px;
}

hr {
	display: inline;
	border: 0px;
}
hr::after {
	content: "";
	padding-right: 2.5em;
}

a       { text-decoration: none     ; }
a:hover { text-decoration: underline; }

ul { padding: 0 1em; }

ol, ul, dl {
	display: inline-block;
	white-space: normal;
	margin: 0;
}

li, dd, dt {
	white-space: pre-line;
	margin: 0;
}

dd, dt { padding: 0 }

dt {
	padding-top: 1.5em;
	font-weight: bold;
}

main li a       { color: #255DB1; }
main li a:hover { color: #859DBD; }

main {
	display: inline-block;
	min-height: 400px;
	width: 100%;
	margin-top: 0em;
	padding: 20px 1em 30px 1em;
	white-space: pre-line;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

h1 ~ div { white-space: pre-wrap; }

cite {
	color: grey;
	font-size: 0.6875em;
	line-height: 1em;
}
cite + cite::before { content: ", " }

footer {
	color: #a7adb1;
	font-size: 13px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,.3)
}

table {
	width: 99.9%;
	border-collapse: collapse;
}

td { border: 1px solid grey; }

.nav-tree {
	display: block;
	width: 100%;
	padding-top: 10px;
	white-space: nowrap;
	background: none;
	box-shadow: none;
}

.nav-tree h2 {
	display: inline-block;
	width: 25%;
	padding-top: 0;
	vertical-align: top;
}

.nav-tree-branch {
	display: inline-block;
	width: 75%;
	padding-top: 10px;
	padding-right: 0;
}

h1, h2, h3, h4, h5, h6 {
	display: inline-block;
	margin: 0;
}

.expanded-results {
	position: absolute;
	top: 3em;
	z-index: -1;
	width: 5em;
	height: 3em;
	white-space: nowrap;
	text-indent: 6em;
	overflow: hidden;
}

.fill-the-blank {
	border:none;
	border-bottom: 1px dotted;
	text-align: right;
}

h2 a      , h3 a      , h4 a      , h5 a      , h6 a       { color: #312f30; }
h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { color: #312f30; }

h1 { font-size: 24px; line-height: 33px; padding: 11px 0  0px  0  ;                 }
h2 { font-size: 21px; line-height: 33px; padding: 11px 0  0px  0  ; color: #303438; }
h3 { font-size: 18px; line-height: 22px; padding: 11px 0 11px  0  ;                 }
h4 { font-size:  1em; line-height: 22px; padding: 11px 0 11px  4em;                 }
h5 { font-size:  1em; line-height: 22px; padding: 11px 0 11px  8em;                 }
h6 { font-size:  1em; line-height: 22px; padding: 11px 0 11px 12em;                 }
h1, h2, h3, h4, h5 { font-weight: 500; }

.seal {
	letter-spacing: -1em;
	white-space: normal;
}

.seal-header {
	float: left;
	width: 60%;
	font-weight: 300;
	letter-spacing: normal;
	padding: 0;
	white-space: normal;
}

.seal-text {
	float: right;
	width: 40%;
	text-align: center;
	letter-spacing: normal;
	white-space: pre;
}

.stamp {
	display: inline-block;
	width: 74px;
	height: 80px;
	padding: 4px;
	word-break: break-word;
	text-align: center;
}

.epikyrosimo {
	background: #DA9F74;
	color: white;
}

.megorosimo {
	background: #55CA68;
	color: white;
}

.question { height: 2em; width: 100%; }
.padded   { padding-top: 2em;         }
.inlined  { display: inline;          }
.block    { display: block;           }
.white-space-normal { white-space: normal; }
.inline-block { display: inline-block; }
.align-right { text-align: right; }
.float-right { float: right; }
.clear-both { clear: both; }
label { line-height:1.5; }
.heading{ font-size: 22px; margin: 0 0 0 30%; }
.menu-block{ display: block; }

@media (max-width: 35em) {
	.nav-tree { white-space: normal; }
	
	.nav-tree h2,
	.nav-tree-branch { width: 100%; }
}
