       .if1 , .if2 , .if3 , .if4 , .if5 , .if6 , .if7 , .if8 , .if9,
.if10, .if11, .if12, .if13, .if14, .if15, .if16, .if17, .if18, .if19,
.if90, .if91, .if92, .if93, .if94, .if95, .if96, .if97, .if98, .if99 {
	display: none;
}

[role="button"]{
	display: inline;
	padding: 1px .5em 2px;
	background: #AFD7F5;
	color: rgba(52, 62, 71, 1);
	border-radius: 3px;
	cursor: pointer;
	-webkit-box-decoration-break: clone;
	        box-decoration-break: clone;
}

[role="menuitemradio"]{
	cursor: pointer;
}

[role="menu"] { display: inline-block; }
[role="menu"] label {
	border: 1px solid #AFD7F5;
	border-right: 1px solid #AFD7F5;
	border-left: none;
	background: transparent;
	color: rgba(182, 190, 196, 1);
	padding: 1px .5em 2px;
}

[role="menu"] :first-child {	
	border-left: 1px solid #AFD7F5;
	border-radius: 4px 0 0 4px;
}

[role="menu"] :last-child {
	border-right: 1px solid #AFD7F5;
	border-radius: 0 4px 4px 0;
}

.vertical[role="menu"] { display: block; }
.vertical[role="menu"] label {
	display: inline-block;
	width: 90%;
	border: 1px solid #AFD7F5;
	border-top: none;
	background: transparent;
	border-radius: 0;
}

.vertical[role="menu"] label:first-child {
	border-top: 1px solid #AFD7F5;
	border-radius: 4px 4px 0 0;
}
.vertical[role="menu"] label:last-child {
	border-radius: 0 0 4px 4px;
}
/* :not() ensures hide and show are mutually exclusive */
[data-hide]:not([data-show]) { display: inline-block; }
[data-show]:not([data-hide]) { display:         none; }

[data-show][data-show~= "default" ] { display: inline-block; }
[data-hide][data-hide~= "default" ] { display:         none; }
/* without .then you can only style direct siblings, not nested children */
.if1:checked  ~ .then [data-show~= "if1"  ] { display: inline-block; }
.if2:checked  ~ .then [data-show~= "if2"  ] { display: inline-block; }
.if3:checked  ~ .then [data-show~= "if3"  ] { display: inline-block; }
.if4:checked  ~ .then [data-show~= "if4"  ] { display: inline-block; }
.if5:checked  ~ .then [data-show~= "if5"  ] { display: inline-block; }
.if6:checked  ~ .then [data-show~= "if6"  ] { display: inline-block; }
.if7:checked  ~ .then [data-show~= "if7"  ] { display: inline-block; }
.if8:checked  ~ .then [data-show~= "if8"  ] { display: inline-block; }
.if9:checked  ~ .then [data-show~= "if9"  ] { display: inline-block; }
.if10:checked ~ .then [data-show~= "if10" ] { display: inline-block; }
.if11:checked ~ .then [data-show~= "if11" ] { display: inline-block; }
.if12:checked ~ .then [data-show~= "if12" ] { display: inline-block; }
.if13:checked ~ .then [data-show~= "if13" ] { display: inline-block; }
.if14:checked ~ .then [data-show~= "if14" ] { display: inline-block; }
.if15:checked ~ .then [data-show~= "if15" ] { display: inline-block; }
.if16:checked ~ .then [data-show~= "if16" ] { display: inline-block; }

.if91:checked ~ .then [data-show~= "if91" ] { display: inline-block; }
.if92:checked ~ .then [data-show~= "if92" ] { display: inline-block; }
.if93:checked ~ .then [data-show~= "if93" ] { display: inline-block; }
.if94:checked ~ .then [data-show~= "if94" ] { display: inline-block; }
.if95:checked ~ .then [data-show~= "if95" ] { display: inline-block; }
.if96:checked ~ .then [data-show~= "if96" ] { display: inline-block; }
.if97:checked ~ .then [data-show~= "if97" ] { display: inline-block; }
.if98:checked ~ .then [data-show~= "if98" ] { display: inline-block; }
.if99:checked ~ .then [data-show~= "if99" ] { display: inline-block; }

.if1:checked ~ .if2:checked ~ .then [data-show~= "if1+if2" ] { display: inline-block; }
.if1:checked ~ .if3:checked ~ .then [data-show~= "if1+if3" ] { display: inline-block; }
.if1:checked ~ .if4:checked ~ .then [data-show~= "if1+if4" ] { display: inline-block; }
.if1:checked ~ .if5:checked ~ .then [data-show~= "if1+if5" ] { display: inline-block; }
.if1:checked ~ .if6:checked ~ .then [data-show~= "if1+if6" ] { display: inline-block; }
.if1:checked ~ .if7:checked ~ .then [data-show~= "if1+if7" ] { display: inline-block; }
.if1:checked ~ .if8:checked ~ .then [data-show~= "if1+if8" ] { display: inline-block; }
.if1:checked ~ .if9:checked ~ .then [data-show~= "if1+if9" ] { display: inline-block; }


.if1:checked  ~ .then [data-hide~= "if1"  ] { display: none; }
.if2:checked  ~ .then [data-hide~= "if2"  ] { display: none; }
.if3:checked  ~ .then [data-hide~= "if3"  ] { display: none; }
.if4:checked  ~ .then [data-hide~= "if4"  ] { display: none; }
.if5:checked  ~ .then [data-hide~= "if5"  ] { display: none; }
.if6:checked  ~ .then [data-hide~= "if6"  ] { display: none; }
.if7:checked  ~ .then [data-hide~= "if7"  ] { display: none; }
.if8:checked  ~ .then [data-hide~= "if8"  ] { display: none; }
.if9:checked  ~ .then [data-hide~= "if9"  ] { display: none; }
.if10:checked ~ .then [data-hide~= "if10" ] { display: none; }
.if11:checked ~ .then [data-hide~= "if11" ] { display: none; }
.if12:checked ~ .then [data-hide~= "if12" ] { display: none; }
.if13:checked ~ .then [data-hide~= "if13" ] { display: none; }
.if14:checked ~ .then [data-hide~= "if14" ] { display: none; }
.if15:checked ~ .then [data-hide~= "if15" ] { display: none; }
.if16:checked ~ .then [data-hide~= "if16" ] { display: none; }

.if91:checked ~ .then [data-hide~= "if91" ] { display: none; }
.if92:checked ~ .then [data-hide~= "if92" ] { display: none; }
.if93:checked ~ .then [data-hide~= "if93" ] { display: none; }
.if94:checked ~ .then [data-hide~= "if94" ] { display: none; }
.if95:checked ~ .then [data-hide~= "if95" ] { display: none; }
.if96:checked ~ .then [data-hide~= "if96" ] { display: none; }
.if97:checked ~ .then [data-hide~= "if97" ] { display: none; }
.if98:checked ~ .then [data-hide~= "if98" ] { display: none; }
.if99:checked ~ .then [data-hide~= "if99" ] { display: none; }

.if1:checked ~ .if2:checked ~ .then [data-hide~= "if1+if2" ] { display: none; }
.if1:checked ~ .if3:checked ~ .then [data-hide~= "if1+if3" ] { display: none; }
.if1:checked ~ .if4:checked ~ .then [data-hide~= "if1+if4" ] { display: none; }
.if1:checked ~ .if5:checked ~ .then [data-hide~= "if1+if5" ] { display: none; }
.if1:checked ~ .if6:checked ~ .then [data-hide~= "if1+if6" ] { display: none; }
.if1:checked ~ .if7:checked ~ .then [data-hide~= "if1+if7" ] { display: none; }
.if1:checked ~ .if8:checked ~ .then [data-hide~= "if1+if8" ] { display: none; }
.if1:checked ~ .if9:checked ~ .then [data-hide~= "if1+if9" ] { display: none; }

.if1:checked  ~ .then [data-show~= "lvl2(if1)"  ] { display: inline-block; }
.if2:checked  ~ .then [data-show~= "lvl2(if2)"  ] { display: inline-block; }
.if3:checked  ~ .then [data-show~= "lvl2(if3)"  ] { display: inline-block; }
.if4:checked  ~ .then [data-show~= "lvl2(if4)"  ] { display: inline-block; }
.if5:checked  ~ .then [data-show~= "lvl2(if5)"  ] { display: inline-block; }
.if6:checked  ~ .then [data-show~= "lvl2(if6)"  ] { display: inline-block; }
.if7:checked  ~ .then [data-show~= "lvl2(if7)"  ] { display: inline-block; }
.if8:checked  ~ .then [data-show~= "lvl2(if8)"  ] { display: inline-block; }
.if9:checked  ~ .then [data-show~= "lvl2(if9)"  ] { display: inline-block; }
.if10:checked ~ .then [data-show~= "lvl2(if10)" ] { display: inline-block; }
.if11:checked ~ .then [data-show~= "lvl2(if11)" ] { display: inline-block; }
.if12:checked ~ .then [data-show~= "lvl2(if12)" ] { display: inline-block; }
.if13:checked ~ .then [data-show~= "lvl2(if13)" ] { display: inline-block; }
.if14:checked ~ .then [data-show~= "lvl2(if14)" ] { display: inline-block; }
.if15:checked ~ .then [data-show~= "lvl2(if15)" ] { display: inline-block; }
.if16:checked ~ .then [data-show~= "lvl2(if16)" ] { display: inline-block; }

.if1:checked ~ .if2:checked ~ .then [data-show~= "lvl2(if1+if2)" ] { display: inline-block; }
.if1:checked ~ .if3:checked ~ .then [data-show~= "lvl2(if1+if3)" ] { display: inline-block; }
.if1:checked ~ .if4:checked ~ .then [data-show~= "lvl2(if1+if4)" ] { display: inline-block; }
.if1:checked ~ .if5:checked ~ .then [data-show~= "lvl2(if1+if5)" ] { display: inline-block; }
.if1:checked ~ .if6:checked ~ .then [data-show~= "lvl2(if1+if6)" ] { display: inline-block; }
.if1:checked ~ .if7:checked ~ .then [data-show~= "lvl2(if1+if7)" ] { display: inline-block; }
.if1:checked ~ .if8:checked ~ .then [data-show~= "lvl2(if1+if8)" ] { display: inline-block; }
.if1:checked ~ .if9:checked ~ .then [data-show~= "lvl2(if1+if9)" ] { display: inline-block; }


.if1:checked  ~ .then [data-hide~= "lvl2(if1)"  ] { display: none; }
.if2:checked  ~ .then [data-hide~= "lvl2(if2)"  ] { display: none; }
.if3:checked  ~ .then [data-hide~= "lvl2(if3)"  ] { display: none; }
.if4:checked  ~ .then [data-hide~= "lvl2(if4)"  ] { display: none; }
.if5:checked  ~ .then [data-hide~= "lvl2(if5)"  ] { display: none; }
.if6:checked  ~ .then [data-hide~= "lvl2(if6)"  ] { display: none; }
.if7:checked  ~ .then [data-hide~= "lvl2(if7)"  ] { display: none; }
.if8:checked  ~ .then [data-hide~= "lvl2(if8)"  ] { display: none; }
.if9:checked  ~ .then [data-hide~= "lvl2(if9)"  ] { display: none; }
.if10:checked ~ .then [data-hide~= "lvl2(if10)" ] { display: none; }
.if11:checked ~ .then [data-hide~= "lvl2(if11)" ] { display: none; }
.if12:checked ~ .then [data-hide~= "lvl2(if12)" ] { display: none; }
.if13:checked ~ .then [data-hide~= "lvl2(if13)" ] { display: none; }
.if14:checked ~ .then [data-hide~= "lvl2(if14)" ] { display: none; }
.if15:checked ~ .then [data-hide~= "lvl2(if15)" ] { display: none; }
.if16:checked ~ .then [data-hide~= "lvl2(if16)" ] { display: none; }

.if1:checked ~ .if2:checked ~ .then [data-hide~= "lvl2(if1+if2)" ] { display: none; }
.if1:checked ~ .if3:checked ~ .then [data-hide~= "lvl2(if1+if3)" ] { display: none; }
.if1:checked ~ .if4:checked ~ .then [data-hide~= "lvl2(if1+if4)" ] { display: none; }
.if1:checked ~ .if5:checked ~ .then [data-hide~= "lvl2(if1+if5)" ] { display: none; }
.if1:checked ~ .if6:checked ~ .then [data-hide~= "lvl2(if1+if6)" ] { display: none; }
.if1:checked ~ .if7:checked ~ .then [data-hide~= "lvl2(if1+if7)" ] { display: none; }
.if1:checked ~ .if8:checked ~ .then [data-hide~= "lvl2(if1+if8)" ] { display: none; }
.if1:checked ~ .if9:checked ~ .then [data-hide~= "lvl2(if1+if9)" ] { display: none; }


.if1:checked  ~ .then [data-select~="if1" ], .if2:checked  ~ .then [data-select~="if2" ],
.if3:checked  ~ .then [data-select~="if3" ], .if4:checked  ~ .then [data-select~="if4" ],
.if5:checked  ~ .then [data-select~="if5" ], .if6:checked  ~ .then [data-select~="if6" ],
.if7:checked  ~ .then [data-select~="if7" ], .if8:checked  ~ .then [data-select~="if8" ],
.if9:checked  ~ .then [data-select~="if9" ], .if10:checked ~ .then [data-select~="if10"],
.if11:checked ~ .then [data-select~="if11"], .if12:checked ~ .then [data-select~="if12"],
.if13:checked ~ .then [data-select~="if13"], .if14:checked ~ .then [data-select~="if14"],
.if15:checked ~ .then [data-select~="if15"], .if16:checked ~ .then [data-select~="if16"],
.if17:checked ~ .then [data-select~="if17"], .if18:checked ~ .then [data-select~="if18"],
.if19:checked ~ .then [data-select~="if19"], .if20:checked ~ .then [data-select~="if20"],
.if21:checked ~ .then [data-select~="if21"],
.if91:checked ~ .then [data-select~="if91"], .if92:checked ~ .then [data-select~="if92"],
.if93:checked ~ .then [data-select~="if93"]  {
	background: #AFD7F5;
	color: rgba(52, 62, 71, 1);
	padding: 1px .5em 2px;
	-webkit-box-decoration-break: clone;
	        box-decoration-break: clone;
}

.then > div {
	margin: 0;
	-webkit-animation: fadeIn .5s;
	   -moz-animation: fadeIn .5s;
	        animation: fadeIn .5s;
}
